language: python
python:
- "2.7"
#- "3.2" # coverage broke compatibility, python-wavefile is still compatible
#- "3.3" # dropped by travis, stil compatible
- "3.4"
- "3.7"
script: coverage run --source wavefile ./setup.py test
before_install:
- sudo apt-get update -qq
- sudo apt-get install -y libsndfile1 portaudio19-dev
install:
- pip install PyAudio
- pip install numpy
- pip install coveralls
after_success:
- coveralls


